<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Personal git workflow... for everyone!</title>

		<meta name="description" content="Personal git workflow... for everyone!">
		<meta name="author" content="Chris Ruso">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/purple-moon.css" id="theme">

		<!-- Code syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section>
					<h1>Personal git workflow... for everyone!</h1>
					<h3>for better, collaborative development</h3>
					<p class="centered">
						<small>Presentation by Chris Russo</small>
					</p>
				</section>

				<section>
					<h2>Agenda</h2>
					<ul>
						<li>Brief discussion of what git is</li>
						<li>Discuss the why of the proposed workflow</li>
						<li>Look at the theory</li>
						<li>Do the workflow live</li>
						<li>Q&A</li>
					</ul>
				</section>

				<section>
					<h3>Prerequesites</h3>
					<h6>It's <i>best</i> if you already...</h6>
					<li>use git for your development</li>
					<li>know the <code>git add</code>, commit, push, and pull commands</li>
					<li>know that I'm sassy</li>
				</section>

				<section>
					<h2>What is git?</h2>
					<ul>
						<li><a href="">git</a> is a <em>distributed</em> SCMS software tool optimized for
							<ul>
								<li>team collaboration</li>
								<li>documentation</li>
								<li>deployment</li>
							</ul>
						</li>
					</ul>
				</section>

				<section>
					<h2>What <i>isn't</i> git?</h2>
					Lots of things, but we won't talk about any of that.
					<br />
					<p><small>queue: You should now be in histerics</small></p>
				</section>

				<section>
					<section>
					<h2>What are we trying to accomplish</h2>
					<h4>The idea of the proposed workflow ensures that you are...</h4>
					<ul>
						<li>backing up code frequently</li>
						<li>are not letting <i>your</i> perfectionism to get in the way of <i>your</i> development</li>
						<li>Sharing the best of your code with your peers regardless of what your journey looked like</li>
					</ul>
					</section>
					<section>
						<img src="images/epic-fails-3-28.jpg" alt="epic fail" >
					</section>
				</section>

				<section>
					<h2>What <i>is</i> the workflow</h2>
					<ol>
						<li>Commit, commit, commit. Did you commit yet? </li>
						<li>Push up to a personal private repository</li>
						<li>Rewind history, rewrite, and polish</li>
						<li>Share away!</li>
						<li>Rinse, repeat as needed</li>
					</ol>
				</section>


				<section>
					<h2>What does the workflow address?</h2>
					<ul>
						<li>Perfectionists/humans have a
							<a href="http://thoughtcatalog.com/peter-benvenuto/2014/03/7-reasons-why-youre-afraid-of-commitment-and-what-to-do-about-it/" >fear of commitment</a>.
							<ul>
								<li>You feel vulnerable</li>
								<li>The pursuit of “something better”</li>
								<li>Unrealistic expectations</li>
								<li>Feeling “trapped”</li>
							</ul>
						</li>
						<li>
							You're backing up frequently!
						</li>
						<li>
							Preserve your <i>possibly</i> sloppy
							yet efficient development workflow and share only
							the best!
						</li>
						<li>
							You give yourself a code review!
						</li>
					</ul>
				</section>

				<section>
					<h2>How the eff do we do this?</h2>
					<h3>Let's look</h3>
					<ol>
						<li>git commit, git add, git commit, git add, git commit</li>
						<li>git push backup-private-repository WIP-branch</li>
						<li>git reset [commit-before-wip-commits] --hard</li>
						<li>git checkout [WIP-branch-finished .</li>
						<li>git add -p </li>
						<li>git push shared-repository [polished-branch] </li>

					</ol>
				</section>

				<section>
					<h2>Step 1</h2>
					<h3>Commit the good, the bad, the ugly</h3>


					<pre>
						<code>
							git log 4851400 tip of polished code
							git branch -av --contains a7caec284c8fe5d52b3354486de956124fdecfc9
							remotes/chrisarusso/user_revision_sqlsan
							4851400 Final before touching up
							git show 4851400^^^^^^^^ = example
						</code>
					</pre>

				</section>


				<section>
					<h2>Step 2</h2>
					<h3>Find you a nice, private repository</h3>
					<h5>...that nobody knows about</h5>
					<pre><code data-trim>
git remote -v
github-shared	git@github.com:chrisarusso/Drupalcamp-Asheville-2015-Presentation.git (fetch)
github-shared	git@github.com:chrisarusso/Drupalcamp-Asheville-2015-Presentation.git (push)
bitbucket-private	git@github.com:chrisarusso/Drupalcamp-Asheville-2015-Presentation.git (fetch)
bitbucket-private	git@github.com:chrisarusso/Drupalcamp-Asheville-2015-Presentation.git (push)
					</code></pre>
					And push, push, push!
				</section>

				<section>
					<section>
						<h2>Step 2.5</h2>
						<h2>Finish up and polish code in last commit</h2>
						<ul>
							<li>Add helpful comments</li>
							<li>Make sure DCS isn't after you (Drupal Coding Standards)</li>
							<li>Test</li>
							<li>Push up to your private repository</li>
							<li>NB: Mark the tree</li>
						</ul>
					</section>
					<section>
						<img src="images/dog-marking-3.jpg" alt="dog marking tree" />
						<img src="images/mark-four.jpg" alt="dog marking tree" />
					</section>
				</section>
				<section>
					<h2>Step 3</h2>
					<h3>Rollback</h3>
					<ul>
						<li>
							Rollback code to before you made any of your updates.
							This is likely where master is, or at least was when you
							left off.
						</li>

					</ul>
				</section>

				<section>
					<h2>Step 3.5</h2>
					<h3>Checkout polished code to working tree</h3>
					<ul>
						<li>
							Now we'll bring back all the code we just worked on,
							but not the commits with them.
						</li>
					</ul>
				</section>
				<section>
					<h2>Step 3.848</h2>
					<h3>Reset staged files</h3>
					<ul>
						<li>
							We'll reset everything <em>not with --hard</em> so that
							nothing is staged
						</li>
					</ul>
				</section>

				<section>
					<h2>Step 4</h2>
					<h3>Make all new commits</h3>
					<ul>
						<li>use git add -p</li>
						<li>break code into logical features/sections</li>
						<li>Make <a href="http://chris.beams.io/posts/git-commit/">nice commit messages</a></li>
					</ul>
				</section>

				<section>
					<h2>Step 4.5</h2>
					<h3>Verify trees are <em>exactly</em> the same</h3>
					<p><small>... complete with #chichi tinkle ...</small></p>
				</section>

				<section>
					<h2>Step 5</h2>
					<h3>Push to shared repository</h3>
					<h4>Pat yourself on the back.</h4>
				</section>

				<section>
					<h2>Breakpoints</h2>
					<p>Once you add a <code>.breakpoints.yml</code> file (and uninstall and reinstall your theme), the breakpoints you've set will be exposed in the admin UI.</p>
					<p>These breakpoints can be used across various modules.</p>
				</section>

				<section>
					<h2>With these files set up, we now have a working custom theme!</h2>
				</section>
				<!-- END SECTION 2 -->

				<!-- SECTION 3: TWIG AND TWIG DEBUGGING -->
				<section>
					<h2>Template files</h2>
					<p>In our theme's current state, we're using Classy's default template files.</p>
					<p>If we want to override them, it's time to learn some Twig.</p>
				</section>

				<section>
					<h2>Intro to Twig</h2>
					<p><a href="http://twig.sensiolabs.org/doc/templates.html">Twig</a> is a template engine with syntax similar to Django, Jinja, and Liquid.</p>
					<p>It simplifies template creation with clean syntax and useful build-in filters, functions, and tags.</p>
					<p>In a Drupal template file (now with the extention .html.twig), anything between curly braces is Twig.</p>
				</section>

				<section>
					<h2>Twig delimiters</h2>
						<p><code>{{ These }}</code> are for printing content, either explicitly or via functions</p>
						<p><code>{% These %}</code> are for executing statements</p>
						<p><code>{# These #}</code> are for comments</p>
					</ul>
				</section>

				<section>
					<h2>Printing variables and regions</h2>
					<p>In D7 we render content like so:</p>
					<pre><code data-trim>&lt;?php print render($page['sidebar']); ?&gt;</code></pre>
					<p>Printing variables in D8 is as easy as including them insdie double curly braces:</p>
					<pre><code data-trim>
// In page--front.html.twig
// Print the sidebar region.

  {{ page.sidebar }}
					</code></pre>
				</section>

				<section>
					<h2>Printing variables with special characters</h2>
					<p>If a variable name contains special characters, use Twig's subscript syntax (which will look familiar to seasoned Drupalers).</p>
					<pre><code data-trim>
// In page--front.html.twig
// Print the page type.

  {{ page['#type'] }}
					</code></pre>
					<p>This will come in handy more during debugging.</p>
				</section>

				<section>
					<h2>Filters</h2>
					<p>Twig comes with many built-in filters that variables are passed to via the pipe character.</p>
					<p>Here's the date filter:</p>
					<pre><code data-trim>
	// Format the post date.

  {{ post.published|date("Y-m-d") }}
					</code></pre>
				</section>

				<section>
					<h2>Drupal-specific filters</h2>
					<p>Check them out <a href="https://www.drupal.org/node/2357633">here.</a></p>
					<p>Remember our old friend t()?</p>
					<pre><code data-trim>
	// Run an ARIA label through t()

  <nav class="tabs" role="navigation" aria-label="{{ 'Tabs'|t }}">
					</code></pre>
				</section>

				<section>
					<h2>Functions</h2>
					<p>Twig also comes with various functions that can be used in double curly braces.</p>
					<p>Here's the cycle function doing some very important work:</p>
					<pre><code data-trim>
{% set fruits = ['apple', 'orange', 'banana'] %}

{% for i in 0..10 %}
    {{ cycle(fruits, i) }}
{% endfor %}
					</code></pre>
				</section>

				<section>
					<h2>Tags</h2>
					<p>Used for control flow and <a href="http://twig.sensiolabs.org/doc/tags/set.html">other fun things.</a></p>
					<pre><code data-trim>
// From Bartik's page.html.twig
// If there are tabs, output them.

  {% if tabs %}
    <nav class="tabs" role="navigation" aria-label="{{ 'Tabs'|t }}">
      {{ tabs }}
    </nav>
  {% endif %}
					</code></pre>
					<p>In Drupal, we’ll use the <code>if</code> statement quite often.</p>
				</section>

				<section>
					<h2>The set tag</h2>
					<p><code>Set</code> allows you to set and use variables throughout the template.</p>
					<pre><code data-trim>
// From Classy's block--system-menu-block.html.twig

  {% set heading_id = attributes.id ~ '-menu'|clean_id %}
  &lt;nav{{ attributes.addClass(classes) }} role="navigation" aria-labelledby="{{ heading_id }}"&gt;
						</code></pre>
					<p>In this example:</p>
					<ul>
						<li>The variable <code>heading_id</code> is set and then used as the <code>aria-labelledby</code> attribute.</li>
						<li>The Twig concatenation character ~ is used</li>
						<li>The string ‘-menu’ is passed through the <code>clean_id</code> filter.</li>
					</ul>
				</section>
				
				<section>
					<h2>Get psyched</h2>
					<p class="centered">Make sure you check out the <a href="https://www.drupal.org/node/1823416">Twig coding standards!</a></p>
				</section>

				<section>
					<h2>Twig debugging</h2>
					<p>To enable debug mode and turn off caching, we need to do 3 things:</p>
					<ol>
						<li>Turn on Twig’s debug mode</li>
						<li>Turn on Twig auto reload, meaning that Twig templates are automatically recompiled when the source code is changed</li>
						<li>Disable Drupal’s render cache</li>
					</ol>
					<p>Note that one thing we do NOT need to do, surprisingly, is turn off Twig caching - turning on auto reload is enough.</p>
				</section>

				<section>
					<h2>Use settings.local.php</h2>
					<p>First let's get a local settings file going.</p>
					<p>Copy <code>sites/example.settings.local.php</code> to <code>sites/default</code> and rename to <code>settings.local.php</code>. Fill out your local database settings.</p>

					<pre><code class="php" data-trim>
/**
 * Local database settings.
 */
$databases['default']['default'] = array (
  'database' => 'my_db_name',
  'username' => 'my_username',
  'password' => 'something',
  'prefix' => '',
  'host' => 'localhost',
  'port' => '',
  'namespace' => 'Drupal\\Core\\Database\\Driver\\mysql',
  'driver' => 'mysql',
);
					</code></pre>
				</section>

				<section>
					<h2>Turn on debug mode and auto reload</h2>
					<p>Check out <code>settings.local.php</code></p>
					<pre><code class="php" data-trim>
// In settings.local.php

/**
 * Enable local development services.
 */
$settings['container_yamls'][] = DRUPAL_ROOT . '/sites/development.services.yml';
					</code></pre>
					<p>This tells us to head over to <code>development.services.yml</code>.</p>
					<pre><code class="yml" data-trim>
// In sites/development.services.yml
parameters:
  twig.config:
    debug: true
    auto-reload: true
					</code></pre>
				</section>

				<section>
					<h2>Turn off Drupal's render cache</h2>
					<p>Just kidding, you already did.</p>
					<pre><code class="php" data-trim>
// In settings.local.php

/**
 * Disable the render cache (this includes the page cache).
 *
 * This setting disables the render cache by using the Null cache back-end
 * defined by the development.services.yml file above.
 *
 * Do not use this setting until after the site is installed.
 */
$settings['cache']['bins']['render'] = 'cache.backend.null';
					</code></pre>
				</section>

				<section>
					<h2>Debug away</h2>
					<p>Now you can:</p>
					<ul>
						<li>View HTML comments in your browser’s code inspector with lots of helpful info:
							<ul>
								<li>Which theme hook is being implemented</li>
								<li>Theme hook suggestions (i.e. how to override the current theme hook)</li>
								<li>Which template file is being output.</li>
							</ul>
						<li>Make changes to your source code and simply refresh the page to see your changes rather than constantly rebuilding the cache.</li>
					</ul>
				</section>

				<section>
					<h2>dump( )</h2>
					<p>With Twig debugging turned on, we can use the Twig function <code>dump()</code>.</p>
					<pre><code data-trim>
// In a template file
// Print out all variables on the page.

  {{ dump() }}


// Print the page's base path.

  {{ dump(base_path) }}
					</code></pre>
				</section>

				<section>
					<h2>Even better: kint( )</h2>
					<p>Install the Devel and Devel Kint modules to use <code>kint()</code> in the same way, but with a pretty, expandable array instead.</p>
					<pre><code data-trim>
// In a template file
// Print out all variables on the page.

  {{ kint() }}
					</code></pre>
				</section>

				<section>
					<h2>Resources and further reading</h2>
					<ul>
						<li><a href="http://savaslabs.com/2015/06/10/d8-theming-basics.html">A brilliant blog post about D8 theming (Savas)</a></li>
						<li><a href="http://d8.sqndr.com/">D8 theming guide (Sander)</a></li>
						<li><a href="http://symfony.com/doc/current/components/yaml/yaml_format.html">YAML formatting (Symfony)</a></li>
						<li><a href="http://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/">Intro to BEM (CSS Wizardry)</a></li>
						<li><a href="https://www.drupal.org/developing/api/8/assets">Adding assets to pages (drupal.org)</a></li>
						<li><a href="http://twig.sensiolabs.org/doc/templates.html">Twig documentation (Sensiolabs)</a></li>
						<li><a href="https://www.drupal.org/node/2357633">Drupal-specific Twig filters (drupal.org)</a></li>
						<li><a href="https://www.drupal.org/node/1823416">Twig coding standards (drupal.org)</a></li>
						<li><a href="https://drupalize.me/blog/201405/lets-debug-twig-drupal-8">Twig debugging and devel (drupalize.me)</a></li>
					</ul>
				</section>
				<!-- END SECTION 3 -->














<!-- 						<a href="#" class="navigate-down">
							<img width="178" height="238" data-src="https://s3.amazonaws.com/hakim-static/reveal-js/arrow.png" alt="Down arrow">
						</a> -->


				<section data-markdown>
					<script type="text/template">
						## Markdown support

						Write content using inline or external Markdown.
						Instructions and more info available in the [readme](https://github.com/hakimel/reveal.js#markdown).

						```
						<section data-markdown>
						  ## Markdown support

						  Write content using inline or external Markdown.
						  Instructions and more info available in the [readme](https://github.com/hakimel/reveal.js#markdown).
						</section>
						```
					</script>
				</section>

				<section>
					<section id="fragments">
						<h2>Fragments</h2>
						<p>Hit the next arrow...</p>
						<p class="fragment">... to step through ...</p>
						<p><span class="fragment">... a</span> <span class="fragment">fragmented</span> <span class="fragment">slide.</span></p>

						<aside class="notes">
							This slide has fragments which are also stepped through in the notes window.
						</aside>
					</section>
					<section>
						<h2>Fragment Styles</h2>
						<p>There's different types of fragments, like:</p>
						<p class="fragment grow">grow</p>
						<p class="fragment shrink">shrink</p>
						<p class="fragment fade-out">fade-out</p>
						<p class="fragment current-visible">current-visible</p>
						<p class="fragment highlight-red">highlight-red</p>
						<p class="fragment highlight-blue">highlight-blue</p>
					</section>
				</section>


				<section id="themes">
					<h2>Themes</h2>
					<p>
						reveal.js comes with a few themes built in: <br>
						<!-- Hacks to swap themes after the page has loaded. Not flexible and only intended for the reveal.js demo deck. -->
						<a href="#" onclick="document.getElementById('theme').setAttribute('href','css/theme/black.css'); return false;">Black (default)</a> -
						<a href="#" onclick="document.getElementById('theme').setAttribute('href','css/theme/white.css'); return false;">White</a> -
						<a href="#" onclick="document.getElementById('theme').setAttribute('href','css/theme/league.css'); return false;">League</a> -
						<a href="#" onclick="document.getElementById('theme').setAttribute('href','css/theme/sky.css'); return false;">Sky</a> -
						<a href="#" onclick="document.getElementById('theme').setAttribute('href','css/theme/beige.css'); return false;">Beige</a> -
						<a href="#" onclick="document.getElementById('theme').setAttribute('href','css/theme/simple.css'); return false;">Simple</a> <br>
						<a href="#" onclick="document.getElementById('theme').setAttribute('href','css/theme/serif.css'); return false;">Serif</a> -
						<a href="#" onclick="document.getElementById('theme').setAttribute('href','css/theme/blood.css'); return false;">Blood</a> -
						<a href="#" onclick="document.getElementById('theme').setAttribute('href','css/theme/night.css'); return false;">Night</a> -
						<a href="#" onclick="document.getElementById('theme').setAttribute('href','css/theme/moon.css'); return false;">Moon</a> -
						<a href="#" onclick="document.getElementById('theme').setAttribute('href','css/theme/solarized.css'); return false;">Solarized</a>
					</p>
				</section>

				<section>
					<section data-background="#dddddd">
						<h2>Slide Backgrounds</h2>
						<p>
							Set <code>data-background="#dddddd"</code> on a slide to change the background color. All CSS color formats are supported.
						</p>
						<a href="#" class="navigate-down">
							<img width="178" height="238" data-src="https://s3.amazonaws.com/hakim-static/reveal-js/arrow.png" alt="Down arrow">
						</a>
					</section>
					<section data-background="https://s3.amazonaws.com/hakim-static/reveal-js/image-placeholder.png">
						<h2>Image Backgrounds</h2>
						<pre><code>&lt;section data-background="image.png"&gt;</code></pre>
					</section>
					<section data-background="https://s3.amazonaws.com/hakim-static/reveal-js/image-placeholder.png" data-background-repeat="repeat" data-background-size="100px">
						<h2>Tiled Backgrounds</h2>
						<pre><code style="word-wrap: break-word;">&lt;section data-background="image.png" data-background-repeat="repeat" data-background-size="100px"&gt;</code></pre>
					</section>
					<section data-background-video="https://s3.amazonaws.com/static.slid.es/site/homepage/v1/homepage-video-editor.mp4,https://s3.amazonaws.com/static.slid.es/site/homepage/v1/homepage-video-editor.webm" data-background-color="#000000">
						<div style="background-color: rgba(0, 0, 0, 0.9); color: #fff; padding: 20px;">
							<h2>Video Backgrounds</h2>
							<pre><code style="word-wrap: break-word;">&lt;section data-background-video="video.mp4,video.webm"&gt;</code></pre>
						</div>
					</section>
					<section data-background="http://i.giphy.com/90F8aUepslB84.gif">
						<h2>... and GIFs!</h2>
					</section>
				</section>



				<section>
					<h2>Pretty Code</h2>
					<pre><code data-trim contenteditable>
function linkify( selector ) {
  if( supports3DTransforms ) {

    var nodes = document.querySelectorAll( selector );

    for( var i = 0, len = nodes.length; i &lt; len; i++ ) {
      var node = nodes[i];

      if( !node.className ) {
        node.className += ' roll';
      }
    }
  }
}
					</code></pre>
					<p>Code syntax highlighting courtesy of <a href="http://softwaremaniacs.org/soft/highlight/en/description/">highlight.js</a>.</p>
				</section>

				<section>
					<h2>Intergalactic Interconnections</h2>
					<p>
						You can link between slides internally,
						<a href="#/2/3">like this</a>.
					</p>
				</section>

				<section>
					<h2>Speaker View</h2>
					<p>There's a <a href="https://github.com/hakimel/reveal.js#speaker-notes">speaker view</a>. It includes a timer, preview of the upcoming slide as well as your speaker notes.</p>
					<p>Press the <em>S</em> key to try it out.</p>

					<aside class="notes">
						Oh hey, these are some notes. They'll be hidden in your presentation, but you can see them if you open the speaker notes window (hit 's' on your keyboard).
					</aside>
				</section>

				<section>
					<h2>Export to PDF</h2>
					<p>Presentations can be <a href="https://github.com/hakimel/reveal.js#pdf-export">exported to PDF</a>, here's an example:</p>
					<iframe src="//www.slideshare.net/slideshow/embed_code/42840540" width="445" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:3px solid #666; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
				</section>

				<section>
					<h2>Global State</h2>
					<p>
						Set <code>data-state="something"</code> on a slide and <code>"something"</code>
						will be added as a class to the document element when the slide is open. This lets you
						apply broader style changes, like switching the page background.
					</p>
				</section>

				<section>
					<h2>Take a Moment</h2>
					<p>
						Press B or . on your keyboard to pause the presentation. This is helpful when you're on stage and want to take distracting slides off the screen.
					</p>
				</section>

			</div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>

			// Full list of configuration options available at:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				transition: 'slide', // none/fade/slide/convex/concave/zoom

				// Optional reveal.js plugins
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true },
					{ src: 'plugin/notes/notes.js', async: true }
				]
			});

		</script>

	</body>
</html>
