<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Building a custom theme in Drupal 8</title>

		<meta name="description" content="Building a custom theme in Drupal 8">
		<meta name="author" content="Anne Tomasevich">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/purple-moon.css" id="theme">

		<!-- Code syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section>
					<h1>Building a custom theme in Drupal 8</h1>
					<h3>Based on the Classy base theme</h3>
					<p class="centered">
						<small>Presentation by Anne Tomasevich</small>
					</p>
				</section>

				<section>
					<h2>Agenda</h2>
					<ul>
						<li>What's changing?</li>
						<li>Let's make a theme</li>
						<li>Twig basics and debugging</li>
					</ul>
				</section>

				<!-- SECTION 1: WHAT'S CHANGING -->

				<!-- 1A: What's new in Drupal 8 -->
				<section>
					<section>
						<h2>What's changing?</h2>
						<p class="centered"><small>...and how do I, a person who probably doesn't like change, cope with these changes...</small></p>
					</section>

					<section>
						<h2>What's new in Drupal 8?</h2>
						<ul>
							<li>Twig, a template engine by SensioLabs, is used inside template files in lieu of PHP</li>
							<li>Classy, a new base theme, is introduced</li>
							<li>template.php becomes the slightly better-named [theme-name].theme. Maybe we’ll finally get theme.php in Drupal 9?</li>
						</ul>
					</section>

					<section>
						<h2>What's new in Drupal 8?</h2>
						<ul>
							<li>Responsive design elements are included by default</li>
							<li>Breakpoints can be set and used across modules and themes</li>
						</ul>
					</section>

					<section>
						<h2>What's new in Drupal 8?</h2>
						<ul>
							<li>Support for IE8 and below is dropped meaning the use of jQuery 2.0, HTML5, and CSS3 (including pseudo selectors) are now supported</li>
							<li>CSS: far fewer IDs are used, default classes are no longer in core but are moved to Classy, CSS file structure now uses SMACSS and class names follow the BEM format</li>
							<li>CSS and JS files are attached to pages differently</li>
						</ul>
					</section>

					<section>
						<h2>What's new in Drupal 8?</h2>
						<p>For a more comprehensive list, visit Drupal's <a href="https://www.drupal.org/list-changes/published/drupal?keywords_description=&to_branch=&version=&created_op=%3E%3D&created%5Bvalue%5D=&created%5Bmin%5D=&created%5Bmax%5D=&impacts%5B%5D=3">change log.</a></p>
					</section>
				</section>
				<!-- End 1A -->

				<!-- 1B: Pros of changes -->
				<section>
					<section>
						<h2>Why all the changes?</h2>
						<h3>In summary...</h3>
						<ol>
							<li>So everyone can use Drupal</li>
							<li>To make Drupal more secure, more flexible, more current, more organized, and more semantic</li>
						</ul>
					</section>

					<section>
						<h2>Why all the changes?</h2>
						<h3>Accessibility to non-Drupalers</h3>
						<ul>
							<li>Fewer Drupal-specific conventions and more popular, well-documented frameworks (such as Twig), meaning non-Drupalers can jump in much more quickly.</li>
							<li>D8 themers don’t need to know PHP to whip up a theme.</li>
						</ul>
					</section>

					<section>
						<h2>Why all the changes?</h2>
						<h3>Security</h3>
						<ul>
							<li>Text is automatically escaped in Twig, meaning a lower chance of XSS attacks.</li>
							<li>Template files are more secure since they no longer contain PHP code.</li>
						</ul>

						<pre><code>&lt;?php db_query('DROP TABLE {users}'); ?&gt;</code></pre>

						<p><small>Scary example courtesy of Sander at <a href="http://d8.sqndr.com/">d8.sqndr.com.</a></small></p>
					</section>

					<section>
						<h2>Why all the changes?</h2>
						<h3>Look at all the pretty things we get to use now!!</h3>
						<ul>
							<li>HTML5</li>
							<li>CSS3</li>
							<li>Modern jQuery libraries</li>
							<li>SMACSS</li>
							<li>BEM</li>
							<li>Responsive breakpoints</li>
						</ul>
					</section>

					<section>
						<h2>Why all the changes?</h2>
						<h3>...but seriously</h3>
						<ul>
							<li>Separation of logic from appearance, leading to more modular (reusable) code.</li>
							<li>More semantic CSS class names means leaner CSS and a more readable DOM</li>
							<li>A general trend towards more extendable, modular, well-organized, better-performing code</li>
						</ul>
					</section>
				</section>
				<!-- End 1B -->

				<!-- 1C: Cons of changes -->
				<section>
					<section>
						<h2>Any disadvantages?</h2>
						<ol>
							<li>Many contributed themes and modules don't having their 8.x branches ready.</li>
						</ol>
						<p>An intimidating note on the 8.x branch of a popular contrib theme:</p>
						<blockquote>This is a development branch. Please note that this branch is probably severely broken. It is strongly recommended to wait before using this branch or even creating issues regarding it.</blockquote>
					</section>

					<section>
						<h2>Any disadvantages?</h2>
						<ol start=2>
							<li>Lack of documentation online</li>
						</ol>
						<p>Of the documentation that DOES exist, much of it is:</p>
						<ul>
							<li>Outdated, and marked as such.</li>
							<li>Outdated, and NOT marked as such.</li>
						</ul>
					</section>

				</section>
				<!-- End 1C -->

				<!-- END SECTION 1 -->

				<!-- SECTION 2: BUILDING A CUSTOM THEME -->
				<section>
					<h2>Let's build this thing</h2>
				</section>

				<section>
					<h2>Create a theme folder</h2>
					<img width="660" height="255" src="images/theme-folder-location.png" alt="Screenshot of theme folder location">
					<p>Drupal core now resides in its own folder. Contributed and custom modules and themes are in the <code>modules</code> and <code>themes</code> folders, respectively.</p>
					<p>My custom theme folder is called <code>mappy</code>.</p>
					<p>Don't forget to create a <code>custom</code> folder for your custom theme!</p>
				</section>

				<section>
					<h2>Create a .info.yml file</h2>
					<pre><code data-trim>
# mappy.info.yml
name: Mappy
type: theme
description: 'D8 Theme for a basic leaflet site.'
core: 8.x
base theme: classy
libraries:
 - mappy/global-styling
 - mappy/leaflet
regions:
  navbar: 'Top Navigation Bar'
  content: Content # required!
  sidebar: 'Sidebar'
  footer: 'Footer'
					</code></pre>
					<p class="centered">[theme-name].info becomes [theme-name].info.yml</p>
				</section>

				<section>
					<h2>Dot info dot what?</h2>
					<p>YAML is a data serialization language that contains key-value pairs.</p>
					<p>Check out <a href="http://symfony.com/doc/current/components/yaml/yaml_format.html">Symfony's excellent writeup</a> 
						on YAML syntax before getting started.</p>
					<p>And mind your whitespace!</p>
				</section>

				<section>
					<h2>Create a .into.yml file</h2>
					<pre><code data-trim>
# mappy.info.yml
name: Mappy
type: theme
description: 'D8 Theme for a basic leaflet site.'
core: 8.x
regions:
  navbar: 'Top Navigation Bar'
  content: Content # required!
  sidebar: 'Sidebar'
  footer: 'Footer'
					</code></pre>
					<p class="centered">This looks familiar, right?</p>
				</section>

				<section>
					<h2>Classy, a new base theme</h2>
					<pre><code data-trim>
# mappy.info.yml
base theme: classy
					</code></pre>
					<p>In D8, default classes are stripped from Drupal core and moved into the base theme Classy.</p>
					<p>To avoid these default classes, simply don't base your theme on Classy.</p>
					<p>But we want them because BEM is awesome! Check out <a href="http://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/">this awesome introduction.</a>
				</section>

				<section>
					<h2>Libraries</h2>
					<pre><code data-trim>
# mappy.info.yml
libraries:
 - mappy/global-styling
 - mappy/leaflet
					</code></pre>
					<p>In D8, assets can be added in a few different ways: globally, per-template, per-page, and more.</p>
					<p>Since this is a small site and we need our libraries on every page, we're adding them globally.</p>
				</section>

				<section>
					<h2>Create a .libraries.yml file</h2>
					<pre><code data-trim>
# mappy.libraries.yml
global-styling:
  css:
    theme:
      css/styles.css: {}

leaflet:
  css:
    theme:
      css/leaflet.css: {}
  js:
    js/leaflet.js: {}
    js/map.js: {}
  dependencies:
    - core/jquery
					</code></pre>
					<p>Note that jQuery is listed as a dependency of the Leaflet library. Since jQuery is no longer loaded automatically on every page, it must be explicitly required.</p>
				</section>

				<section>
					<h2>Adding assets to your site</h2>
					<p>No matter how you include your assets, they must be defined in your <code>.libraries.yml</code> file.</p>
					<p>You probably won't add libraries globally very often. Visit <a href="https://www.drupal.org/developing/api/8/assets">drupal.org</a> for more information on methods for adding assets.</p>
				</section>


				<section>
					<h2>Create a .breakpoints.yml file</h2>
					<pre><code data-trim>
# mappy.breakpoints.yml
mappy.mobile:
  label: mobile
  mediaQuery: '(min-width: 0px)'
  weight: 2
  multipliers:
    - 1x
mappy.narrow:
  label: narrow
  mediaQuery: 'all and (min-width: 560px) and (max-width: 850px)'
  weight: 1
  multipliers:
    - 1x
mappy.wide:
  label: wide
  mediaQuery: 'all and (min-width: 851px)'
  weight: 0
  multipliers:
    - 1x
					</code></pre>
					<p>Ours is <strike>stolen</strike> adapted from the Bartik theme.</p>
				</section>

				<section>
					<h2>Breakpoints</h2>
					<p>Once you add a <code>.breakpoints.yml</code> file (and uninstall and reinstall your theme), the breakpoints you've set will be exposed in the admin UI.</p>
					<p>These breakpoints can be used across various modules.</p>
				</section>

				<section>
					<h2>With these files set up, we now have a working custom theme!</h2>
				</section>
				<!-- END SECTION 2 -->

				<!-- SECTION 3: TWIG AND TWIG DEBUGGING -->
				<section>
					<h2>Template files</h2>
					<p>In our theme's current state, we're using Classy's default template files.</p>
					<p>If we want to override them, it's time to learn some Twig.</p>
				</section>

				<section>
					<h2>Intro to Twig</h2>
					<p><a href="http://twig.sensiolabs.org/doc/templates.html">Twig</a> is a template engine with syntax similar to Django, Jinja, and Liquid.</p>
					<p>It simplifies template creation with clean syntax and useful build-in filters, functions, and tags.</p>
					<p>In a Drupal template file (now with the extention .html.twig), anything between curly braces is Twig.</p>
				</section>

				<section>
					<h2>Twig delimiters</h2>
						<p><code>{{ These }}</code> are for printing content, either explicitly or via functions</p>
						<p><code>{% These %}</code> are for executing statements</p>
						<p><code>{# These #}</code> are for comments</p>
					</ul>
				</section>

				<section>
					<h2>Printing variables and regions</h2>
					<p>In D7 we render content like so:</p>
					<pre><code data-trim>&lt;?php print render($page['sidebar']); ?&gt;</code></pre>
					<p>Printing variables in D8 is as easy as including them insdie double curly braces:</p>
					<pre><code data-trim>
// In page--front.html.twig
// Print the sidebar region.

  {{ page.sidebar }}
					</code></pre>
				</section>

				<section>
					<h2>Printing variables with special characters</h2>
					<p>If a variable name contains special characters, use Twig's subscript syntax (which will look familiar to seasoned Drupalers).</p>
					<pre><code data-trim>
// In page--front.html.twig
// Print the page type.

  {{ page['#type'] }}
					</code></pre>
					<p>This will come in handy more during debugging.</p>
				</section>

				<section>
					<h2>Filters</h2>
					<p>Twig comes with many built-in filters that variables are passed to via the pipe character.</p>
					<p>Here's the date filter:</p>
					<pre><code data-trim>
	// Format the post date.

  {{ post.published|date("Y-m-d") }}
					</code></pre>
				</section>

				<section>
					<h2>Drupal-specific filters</h2>
					<p>Check them out <a href="https://www.drupal.org/node/2357633">here.</a></p>
					<p>Remember our old friend t()?</p>
					<pre><code data-trim>
	// Run an ARIA label through t()

  <nav class="tabs" role="navigation" aria-label="{{ 'Tabs'|t }}">
					</code></pre>
				</section>

				<section>
					<h2>Functions</h2>
					<p>Twig also comes with various functions that can be used in double curly braces.</p>
					<p>Here's the cycle function doing some very important work:</p>
					<pre><code data-trim>
{% set fruits = ['apple', 'orange', 'banana'] %}

{% for i in 0..10 %}
    {{ cycle(fruits, i) }}
{% endfor %}
					</code></pre>
				</section>

				<section>
					<h2>Tags</h2>
					<p>Used for control flow and <a href="http://twig.sensiolabs.org/doc/tags/set.html">other fun things.</a></p>
					<pre><code data-trim>
// From Bartik's page.html.twig
// If there are tabs, output them.

  {% if tabs %}
    <nav class="tabs" role="navigation" aria-label="{{ 'Tabs'|t }}">
      {{ tabs }}
    </nav>
  {% endif %}
					</code></pre>
					<p>In Drupal, we’ll use the <code>if</code> statement quite often.</p>
				</section>

				<section>
					<h2>The set tag</h2>
					<p><code>Set</code> allows you to set and use variables throughout the template.</p>
					<pre><code data-trim>
// From Classy's block--system-menu-block.html.twig

  {% set heading_id = attributes.id ~ '-menu'|clean_id %}
  &lt;nav{{ attributes.addClass(classes) }} role="navigation" aria-labelledby="{{ heading_id }}"&gt;
						</code></pre>
					<p>In this example:</p>
					<ul>
						<li>The variable <code>heading_id</code> is set and then used as the <code>aria-labelledby</code> attribute.</li>
						<li>The Twig concatenation character ~ is used</li>
						<li>The string ‘-menu’ is passed through the <code>clean_id</code> filter.</li>
					</ul>
				</section>
				
				<section>
					<h2>Get psyched</h2>
					<p class="centered">Make sure you check out the <a href="https://www.drupal.org/node/1823416">Twig coding standards!</a></p>
				</section>

				<section>
					<h2>Twig debugging</h2>
					<p>To enable debug mode and turn off caching, we need to do 3 things:</p>
					<ol>
						<li>Turn on Twig’s debug mode</li>
						<li>Turn on Twig auto reload, meaning that Twig templates are automatically recompiled when the source code is changed</li>
						<li>Disable Drupal’s render cache</li>
					</ol>
					<p>Note that one thing we do NOT need to do, surprisingly, is turn off Twig caching - turning on auto reload is enough.</p>
				</section>

				<section>
					<h2>Use settings.local.php</h2>
					<p>First let's get a local settings file going.</p>
					<p>Copy <code>sites/example.settings.local.php</code> to <code>sites/default</code> and rename to <code>settings.local.php</code>. Fill out your local database settings.</p>

					<pre><code class="php" data-trim>
/**
 * Local database settings.
 */
$databases['default']['default'] = array (
  'database' => 'my_db_name',
  'username' => 'my_username',
  'password' => 'something',
  'prefix' => '',
  'host' => 'localhost',
  'port' => '',
  'namespace' => 'Drupal\\Core\\Database\\Driver\\mysql',
  'driver' => 'mysql',
);
					</code></pre>
				</section>

				<section>
					<h2>Turn on debug mode and auto reload</h2>
					<p>Check out <code>settings.local.php</code></p>
					<pre><code class="php" data-trim>
// In settings.local.php

/**
 * Enable local development services.
 */
$settings['container_yamls'][] = DRUPAL_ROOT . '/sites/development.services.yml';
					</code></pre>
					<p>This tells us to head over to <code>development.services.yml</code>.</p>
					<pre><code class="yml" data-trim>
// In sites/development.services.yml
parameters:
  twig.config:
    debug: true
    auto-reload: true
					</code></pre>
				</section>

				<section>
					<h2>Turn off Drupal's render cache</h2>
					<p>Just kidding, you already did.</p>
					<pre><code class="php" data-trim>
// In settings.local.php

/**
 * Disable the render cache (this includes the page cache).
 *
 * This setting disables the render cache by using the Null cache back-end
 * defined by the development.services.yml file above.
 *
 * Do not use this setting until after the site is installed.
 */
$settings['cache']['bins']['render'] = 'cache.backend.null';
					</code></pre>
				</section>

				<section>
					<h2>Debug away</h2>
					<p>Now you can:</p>
					<ul>
						<li>View HTML comments in your browser’s code inspector with lots of helpful info:
							<ul>
								<li>Which theme hook is being implemented</li>
								<li>Theme hook suggestions (i.e. how to override the current theme hook)</li>
								<li>Which template file is being output.</li>
							</ul>
						<li>Make changes to your source code and simply refresh the page to see your changes rather than constantly rebuilding the cache.</li>
					</ul>
				</section>

				<section>
					<h2>dump( )</h2>
					<p>With Twig debugging turned on, we can use the Twig function <code>dump()</code>.</p>
					<pre><code data-trim>
// In a template file
// Print out all variables on the page.

  {{ dump() }}


// Print the page's base path.

  {{ dump(base_path) }}
					</code></pre>
				</section>

				<section>
					<h2>Even better: kint( )</h2>
					<p>Install the Devel and Devel Kint modules to use <code>kint()</code> in the same way, but with a pretty, expandable array instead.</p>
					<pre><code data-trim>
// In a template file
// Print out all variables on the page.

  {{ kint() }}
					</code></pre>
				</section>

				<section>
					<h2>Resources and further reading</h2>
					<ul>
						<li><a href="http://savaslabs.com/2015/06/10/d8-theming-basics.html">A brilliant blog post about D8 theming (Savas)</a></li>
						<li><a href="http://d8.sqndr.com/">D8 theming guide (Sander)</a></li>
						<li><a href="http://symfony.com/doc/current/components/yaml/yaml_format.html">YAML formatting (Symfony)</a></li>
						<li><a href="http://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/">Intro to BEM (CSS Wizardry)</a></li>
						<li><a href="https://www.drupal.org/developing/api/8/assets">Adding assets to pages (drupal.org)</a></li>
						<li><a href="http://twig.sensiolabs.org/doc/templates.html">Twig documentation (Sensiolabs)</a></li>
						<li><a href="https://www.drupal.org/node/2357633">Drupal-specific Twig filters (drupal.org)</a></li>
						<li><a href="https://www.drupal.org/node/1823416">Twig coding standards (drupal.org)</a></li>
						<li><a href="https://drupalize.me/blog/201405/lets-debug-twig-drupal-8">Twig debugging and devel (drupalize.me)</a></li>
					</ul>
				</section>
				<!-- END SECTION 3 -->














<!-- 						<a href="#" class="navigate-down">
							<img width="178" height="238" data-src="https://s3.amazonaws.com/hakim-static/reveal-js/arrow.png" alt="Down arrow">
						</a> -->


				<section data-markdown>
					<script type="text/template">
						## Markdown support

						Write content using inline or external Markdown.
						Instructions and more info available in the [readme](https://github.com/hakimel/reveal.js#markdown).

						```
						<section data-markdown>
						  ## Markdown support

						  Write content using inline or external Markdown.
						  Instructions and more info available in the [readme](https://github.com/hakimel/reveal.js#markdown).
						</section>
						```
					</script>
				</section>

				<section>
					<section id="fragments">
						<h2>Fragments</h2>
						<p>Hit the next arrow...</p>
						<p class="fragment">... to step through ...</p>
						<p><span class="fragment">... a</span> <span class="fragment">fragmented</span> <span class="fragment">slide.</span></p>

						<aside class="notes">
							This slide has fragments which are also stepped through in the notes window.
						</aside>
					</section>
					<section>
						<h2>Fragment Styles</h2>
						<p>There's different types of fragments, like:</p>
						<p class="fragment grow">grow</p>
						<p class="fragment shrink">shrink</p>
						<p class="fragment fade-out">fade-out</p>
						<p class="fragment current-visible">current-visible</p>
						<p class="fragment highlight-red">highlight-red</p>
						<p class="fragment highlight-blue">highlight-blue</p>
					</section>
				</section>


				<section id="themes">
					<h2>Themes</h2>
					<p>
						reveal.js comes with a few themes built in: <br>
						<!-- Hacks to swap themes after the page has loaded. Not flexible and only intended for the reveal.js demo deck. -->
						<a href="#" onclick="document.getElementById('theme').setAttribute('href','css/theme/black.css'); return false;">Black (default)</a> -
						<a href="#" onclick="document.getElementById('theme').setAttribute('href','css/theme/white.css'); return false;">White</a> -
						<a href="#" onclick="document.getElementById('theme').setAttribute('href','css/theme/league.css'); return false;">League</a> -
						<a href="#" onclick="document.getElementById('theme').setAttribute('href','css/theme/sky.css'); return false;">Sky</a> -
						<a href="#" onclick="document.getElementById('theme').setAttribute('href','css/theme/beige.css'); return false;">Beige</a> -
						<a href="#" onclick="document.getElementById('theme').setAttribute('href','css/theme/simple.css'); return false;">Simple</a> <br>
						<a href="#" onclick="document.getElementById('theme').setAttribute('href','css/theme/serif.css'); return false;">Serif</a> -
						<a href="#" onclick="document.getElementById('theme').setAttribute('href','css/theme/blood.css'); return false;">Blood</a> -
						<a href="#" onclick="document.getElementById('theme').setAttribute('href','css/theme/night.css'); return false;">Night</a> -
						<a href="#" onclick="document.getElementById('theme').setAttribute('href','css/theme/moon.css'); return false;">Moon</a> -
						<a href="#" onclick="document.getElementById('theme').setAttribute('href','css/theme/solarized.css'); return false;">Solarized</a>
					</p>
				</section>

				<section>
					<section data-background="#dddddd">
						<h2>Slide Backgrounds</h2>
						<p>
							Set <code>data-background="#dddddd"</code> on a slide to change the background color. All CSS color formats are supported.
						</p>
						<a href="#" class="navigate-down">
							<img width="178" height="238" data-src="https://s3.amazonaws.com/hakim-static/reveal-js/arrow.png" alt="Down arrow">
						</a>
					</section>
					<section data-background="https://s3.amazonaws.com/hakim-static/reveal-js/image-placeholder.png">
						<h2>Image Backgrounds</h2>
						<pre><code>&lt;section data-background="image.png"&gt;</code></pre>
					</section>
					<section data-background="https://s3.amazonaws.com/hakim-static/reveal-js/image-placeholder.png" data-background-repeat="repeat" data-background-size="100px">
						<h2>Tiled Backgrounds</h2>
						<pre><code style="word-wrap: break-word;">&lt;section data-background="image.png" data-background-repeat="repeat" data-background-size="100px"&gt;</code></pre>
					</section>
					<section data-background-video="https://s3.amazonaws.com/static.slid.es/site/homepage/v1/homepage-video-editor.mp4,https://s3.amazonaws.com/static.slid.es/site/homepage/v1/homepage-video-editor.webm" data-background-color="#000000">
						<div style="background-color: rgba(0, 0, 0, 0.9); color: #fff; padding: 20px;">
							<h2>Video Backgrounds</h2>
							<pre><code style="word-wrap: break-word;">&lt;section data-background-video="video.mp4,video.webm"&gt;</code></pre>
						</div>
					</section>
					<section data-background="http://i.giphy.com/90F8aUepslB84.gif">
						<h2>... and GIFs!</h2>
					</section>
				</section>



				<section>
					<h2>Pretty Code</h2>
					<pre><code data-trim contenteditable>
function linkify( selector ) {
  if( supports3DTransforms ) {

    var nodes = document.querySelectorAll( selector );

    for( var i = 0, len = nodes.length; i &lt; len; i++ ) {
      var node = nodes[i];

      if( !node.className ) {
        node.className += ' roll';
      }
    }
  }
}
					</code></pre>
					<p>Code syntax highlighting courtesy of <a href="http://softwaremaniacs.org/soft/highlight/en/description/">highlight.js</a>.</p>
				</section>

				<section>
					<h2>Intergalactic Interconnections</h2>
					<p>
						You can link between slides internally,
						<a href="#/2/3">like this</a>.
					</p>
				</section>

				<section>
					<h2>Speaker View</h2>
					<p>There's a <a href="https://github.com/hakimel/reveal.js#speaker-notes">speaker view</a>. It includes a timer, preview of the upcoming slide as well as your speaker notes.</p>
					<p>Press the <em>S</em> key to try it out.</p>

					<aside class="notes">
						Oh hey, these are some notes. They'll be hidden in your presentation, but you can see them if you open the speaker notes window (hit 's' on your keyboard).
					</aside>
				</section>

				<section>
					<h2>Export to PDF</h2>
					<p>Presentations can be <a href="https://github.com/hakimel/reveal.js#pdf-export">exported to PDF</a>, here's an example:</p>
					<iframe src="//www.slideshare.net/slideshow/embed_code/42840540" width="445" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:3px solid #666; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
				</section>

				<section>
					<h2>Global State</h2>
					<p>
						Set <code>data-state="something"</code> on a slide and <code>"something"</code>
						will be added as a class to the document element when the slide is open. This lets you
						apply broader style changes, like switching the page background.
					</p>
				</section>

				<section>
					<h2>Take a Moment</h2>
					<p>
						Press B or . on your keyboard to pause the presentation. This is helpful when you're on stage and want to take distracting slides off the screen.
					</p>
				</section>

			</div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>

			// Full list of configuration options available at:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				transition: 'slide', // none/fade/slide/convex/concave/zoom

				// Optional reveal.js plugins
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true },
					{ src: 'plugin/notes/notes.js', async: true }
				]
			});

		</script>

	</body>
</html>
