/**
 * Solarized Dark theme for reveal.js.
 * Author: Achim Staebler
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------



// Include theme-specific fonts
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Condensed);

/**
 * Solarized colors by Ethan Schoonover
 */
html * {
  color-profile: sRGB;
  rendering-intent: auto;
}

// Solarized colors
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

// Theme colors
$dark-blue: #14133b;
$fuschia: #9e023b;
$yellow: #f2a324;
$orange: #f6433e;
$beige: #f4d1a6;
$gainsboro: #dcdcdc;
$white: #fff;

// Override theme settings (see ../template/settings.scss)
$mainColor: $beige;
$headingColor: lighten($fuschia, 10%);
$headingTextShadow: none;
$backgroundColor: $dark-blue;
$linkColor: $orange;
$linkColorHover: $yellow;
$selectionColor: $mainColor;
$selectionBackgroundColor: lighten($orange, 20%);

$headingFont: 'Ubuntu Condensed', Impact, sans-serif;
$mainFont: 'Source Sans Pro', sans-serif;

$heading1Size: 3em;

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

/*********************************************
 * THEME OVERRIDES
 *********************************************/
body {
  background: $dark-blue url("../../images/logo.png") no-repeat fixed 2% 2%;
}

.reveal {

  h1, h3 { color: $orange; }

  p { text-align: left; }

  code {
    background-color: #3F3F3F;
    border: 1px solid darken($dark-blue, 10%);
    border-radius: 5px; 
    color: #DCDCDC;
    display: inline-block;
    font-size: .8em;
    margin: -1px 0 0;
    padding: 0 5px;
  }

  blockquote {
    border-radius: 0 10px 10px 0;
    color: $dark-blue;
    padding: 15px;
    background: rgba(244, 209, 166, .8);
    text-align: left; 
  }

  li { margin-bottom: 15px; }

  .centered { text-align: center; }

  .caption { margin-top: -15px; }

  .no-border {
    background-color: $backgroundColor;
    border: none;
  }

  .fuschia { color: $fuschia; }

  .compact-list li { margin-bottom: 5px; }

  .its-happening { margin-left: 50px; }

  .savas {
    display: inline-block;
    margin-left: 20px;
    margin-top: 40px;
    vertical-align: top;
  }

  .durham {
    display: inline-block;
    margin-right: 20px;

    p {
      font-size: .8em;
      margin-top: -20px;
      text-align: center;
    }
  }
}



